.btn{
    background-color: transparent;
    width: 100px;
    height: 50px;
    margin: 20px;
    font-size: 15px;
    color: whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.btn:hover{
    background-color: #6b748a;
}

.btn-selected{
    background-color: whitesmoke;
    color: #282c34;
}

.btn-status-ok{
    border-color: seagreen;
}
  
.btn-status-error{
    border-color: tomato;
}
  