.configure-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: 100px;
}

.configure-label{
    font-size: 20px;
    width: 30%;
}

.configure-input{
    font-size: 20px;
    height: 30%;
    width: 30%;
    margin-right: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    outline: none;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}


.configure-btn{
    background-color: transparent;
    width: 40%;
    height: 40%;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
}

.configure-btn:hover{
    background-color: whitesmoke;
    color: #282c34;
}

.configure-btn:focus{
    background-color: #6b748a;
}

.btn-status-ok{
    border-color: seagreen;
}

.btn-status-error{
    border-color: tomato;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-btn,
input::-webkit-inner-spin-btn {
    -webkit-appearance: none;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}