.control-container{
    margin: 20px;
    
}

.control-btn-container{
    width: 50%;
    margin: auto;
    height: 30px;
}

.control-btn{
    background-color: transparent;
    width: 20%;
    margin: 20px;
    height: 100%;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.control-btn:hover{
    background-color: #6b748a;
}

.control-btn-selected{
    background-color: whitesmoke;
    color: #282c34;
}

.control-info-container{
    height: 300px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}