.fan-container{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.fan-button{
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    font-size: 20px;
    color: whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
}

.fan-button:hover{
  background-color: whitesmoke;
  color: #282c34;
}

.fan-button:focus{
  background-color: #6b748a;
}

.btn-status-ok{
  border-color: seagreen;
}

.btn-status-error{
  border-color: tomato;
}

.fan-img {
    height: 12vmin;
    pointer-events: none;
    margin: 10px;
    width: auto;
    /* border: 2px solid white;
    border-radius: 10px; */
  }
  
@media (prefers-reduced-motion: no-preference) {
    .fan-on {
      animation: fan-img-spin infinite 1s linear;
    }
  }
  
@keyframes fan-img-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  